.boneyard-loot-messages {
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 45;
}

.boneyard-loot-messages > span {
  display: block;
  left: 50%;
  position: absolute;
  transform-origin: 0 0;
  white-space: nowrap;
}

.boneyard-loot-message-shadow {
  left: 0;
  position: absolute;
  top: 2px;
}

.boneyard-loot-bitmap-text {
  display: block;
  position: relative;
}

.boneyard-loot-bitmap-text > i {
  display: block;
  position: absolute;
}
