[Unit]
Description=Watch Solomon Dark Website main for production deployments

[Timer]
OnStartupSec=30s
OnUnitInactiveSec=60s
AccuracySec=10s
Persistent=true
Unit=solomon-dark-main-deploy.service

[Install]
WantedBy=timers.target
